.picBio {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
#profilePic {
  height: 500px;
  width: 540px;
}

.titleRow {
  justify-content: center !important;
}

.description {
  justify-content: center !important;
}

.contactSec {
  justify-content: center !important;
}
