.picBio {
  padding: 0px !important;
}

#profilePic {
  height: 500px;
  width: 540px;
}
#profileBio {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.titleRow,
.description,
.links {
  justify-content: center !important;
}

@media only screen and (max-width: 500px) {
  .appImg {
    width: 300px !important;
    height: 280px !important;
    border: 0px !important;
  }
  #profileBio {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  #profilePic {
    height: 350px !important;
    width: 370px !important;
  }
}

.linkColor {
  color: blue !important;
}

.contactInfo {
  margin-top: 7px !important;
}

.contactSec {
  justify-content: center !important;
}
